.hero-list-services-cnt {
  display: flex;
  align-items: center;
    max-width: 1167px;
    width: 100%;
    height: 70px;
    border-radius: 12px;
    background-color: #0F0F0F;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .hero-list-roller {
    display: flex;
    gap: 20px;
    width: fit-content;
    animation: scroll-left 20s linear infinite;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .hero-list-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-family: var(--font-roboto-mono);
    font-size: 20px;
    color: #676665;
  }
  
  .hero-list-item div {
    width: 7px;
    height: 7px;
    background-color: #CE7D63;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @media (max-width: 1920px) {
    .hero-list-services-cnt {
      height: 56px;
      border-radius: 10px;
    }
    .hero-list-roller {
      gap: 10px;
    }
    .hero-list-item {
      font-size: 16px;
    }
    .hero-list-item div {
      margin-right: 10px;
    }

  }
  @media (max-width: 1440px) {
    .hero-list-services-cnt {
      max-width: inherit;
    }
  }
  @media (max-width: 525px) {
    .hero-list-item {
      font-size: 14px;
    }
  }